p{
    color: rgba (100,0,0,.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}

h2{
background-color: yellow;
color:red;
text-align: center;

}
