
body{

    font-family: Arial;
    margin-left: 100px;
}


h2{
    width: 250px;
    border-bottom: rgb(110, 197, 231) dashed ;
    color: rgb(110, 197, 231);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-size: 600px;
    text-align-last: center;
    text-shadow: 1px 1px 20px grey;
    
}

img{
    border-radius: 30px;

}

.roman:hover{

    
    cursor: pointer;
    filter: invert();
}

#datos{
    width: 250px;
    text-align: center;
    color: grey;

}
.preg {
    font-family: Helvetica;

}
.datosR{
    font-size: 20px;
    color: black;

}

#listas{
    height: 220px;
    width: 210px;
    padding: 30px 10px 10px 30px;
   
    border-radius: 30px;

    font-family: Cambria;    
    font-size: 15px;
    background: #ff0000;
    background: linear-gradient(321deg,#ff0000 0%, #ffff00 40%, #00ff00 80%);
    background: -webkit-linear-gradient(321deg,#ff0000 0%, #ffff00 40%, #00ff00 80%);
    background: -moz-linear-gradient(321deg,#ff0000 0%, #ffff00 40%, #00ff00 80%);

}
#perfil{
font-size: 16px;
width: 450px;
text-align-last: auto;
font-family: 'Roboto Condensed', sans-serif;

}
#flechas{
    width: 300px;
    text-align: center;
    color:brown;
    text-shadow: 3px 5px 8px cornflowerblue ;
}

.links{
    font-size: 20px;

}

.links:hover{
    
   text-shadow: 1px 1px 15px blue;
}

.rosa:hover{
    cursor: pointer;
    filter: grayscale(100%);}



